.results-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em;
}

/* --------- MEDIA QUERIES -----------  */

@media screen and (min-width: 620px) {
  .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
