* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: #41623e;
}

header {
  background-color: #41623e;
  position: sticky;
  z-index: 1;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #fff9e9;
  font-family: 'Fredericka the Great', cursive;
  border-bottom: 2px solid transparent;
}

h1:hover {
  border-bottom: 2px solid #fff9e9;
}

.loading-icon {
  height: 3em;
  width: 3em;
}

.loading-container {
  display: flex;
  justify-content: center;
  height: 5em;
  width: 100%;
}
