.day-filter-label {
  font-size: 18px;
  color: white;
}

.filter-btn {
  font-size: 18px;
  padding: 4px;
}

/* --------- MEDIA QUERIES -----------  */

@media screen and (min-width: 620px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
