.market-card {
  font-size: 100%;
  font-family: inherit;
  background-color: #fff9e9;
  height: 15em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  border: 2px solid #ee922f;
  box-shadow: 2px 5px 10px #273c26;
}

.market-card:hover {
  box-shadow: 2px 10px 10px #273c26;
}

.veggie-container {
  width: 50%;
  height: 100%;
}
.link {
  text-decoration: none;
  color: black;
}

.market-info {
  width: 50%;
  padding: 1em;
}

.market-info p {
  margin: 1em;
}

.veggie-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 0.75em;
}