.zip-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zip-label {
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  color: #fff9e9;
}

.label {
  color: #fff9e9;
  margin: 1em;
  font-size: 1.25em;
}

.zip-search input,
select {
  font-size: 1.25em;
  margin: 0.5em;
  width: 5em;
  padding: 0.25em;
  border: 1px solid #4f784c;
}

.find-btn {
  margin: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 0.5em;
  background-color: #fff9e9;
  border: 2px solid #ee922f;
  border-radius: 3em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.find-btn:hover {
  background-color: #ee922f;
  border: 2px solid #fff9e9;
}

.find-btn:disabled {
  opacity: 0.7;
}

.find-btn:disabled:hover {
  background-color: #fff9e9;
  border: 2px solid #ee922f;
  cursor: not-allowed;
}

/* --------- MEDIA QUERIES -----------  */

@media screen and (min-width: 620px) {
  .zip-search input,
  select {
    width: 6em;
  }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
