* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  min-height: 100vh;
  background-color: #41623e;
}

header {
  background-color: #41623e;
  position: sticky;
  z-index: 1;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #fff9e9;
  font-family: 'Fredericka the Great', cursive;
}

/* --------- MEDIA QUERIES -----------  */

@media screen and (min-width: 620px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
