* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #41623e;
  position: sticky;
  z-index: 1;
  height: 5em;
  display: flex;
  align-items: center;
}

header h1 {
  color: #fff9e9;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 1em;
}
